#carouselActorBlock{
    height: 1100px;
}
#carouselActorContainer{
    width: 80vw;
    margin: auto;
    margin-top: 50px;
}
.carouselItem{
    height: 540px;
    margin-bottom: 20px;
}
.carouselImg{
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 20px;
    width: 345px;
    height: 500px;
}
.carouselText{
    
    padding: 3%;
    padding-bottom: 30px;
    
    color: rgb(255, 255, 255);
    
}
.carouselName{
    color: aliceblue;
    text-align: center;
    padding-top: 30px;
    margin: 20px 0;
}
.carouselTextDiv{
    margin: auto;
    width: 80%;
    border-radius: 20px;
    position: relative;
    top: -120px;
    background-color: rgba(78, 78, 82, 0.856);
    
}

