/* 原版 區域    原版 區域 */


.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    /* border: 10px solid #fff; */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;

}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    /* width: 100%; */

}

.jcarousel ul {
    width: 10000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    /* width: 300px; */
    float: left;
    /* border: 1px solid #fff; */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* margin: 0px 20px; */
}

.jcarousel img {
    display: block;
    /* max-width: 100%; */

    /* height: auto !important; */
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 50px;
    height: 50px;
    text-align: center;
    /* background: #4E443C; */
    color: #fff;

    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 48px/40px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 4px #F0EFE7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 8px #F0EFE7;
}

.jcarousel-control-prev:active,
.jcarousel-control-next:active {
    color: yellow;
}

.jcarousel-control-prev {
    left: 25px;
}

.jcarousel-control-next {
    right: 25px;

}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}



/*  自行修改區域     自行修改區域  */


.jcarousel-wrapper {
    padding: 30px 10px;
}

.jcarousel {
    width: 90%;
    margin: 0 auto;
}


.jcarousel>ul>li>a>img {
    width: 234px;
    height: 416x;
    margin: 0px 20px;

}

.jcarousel_imgDiv {
    background: rgb(150, 150, 156);
    width: 234px;
    height: 480px;
    margin: 0px 20px;
}

.jcarousel_imgDiv>img {
    width: 100%;
    height: 351px;
}

.jcarousel_imgDiv_content p {
    font-size: 20px;
    color: rgb(3, 3, 3);
    width: 70%;
    font-weight: 700;
   
}

.jcarousel_imgDiv_content>p:nth-of-type(1) {
    margin: 20px 0px 0px 15px;

}

.jcarousel_imgDiv_content>p:nth-of-type(2) {
    font-size: 14px;
    padding: 0px 0px 10px 5px;
    margin: 0px 0px 0px 15px;
}

.jcarousel_imgDiv_content {
    position: relative;
}

.jcarousel_heartIcon {
    color: wheat;

    position: absolute;
    top: 420px;
    right: 21px;
    
    font-size: 30px;
    z-index: 1;
    padding: 15px 20px;
}